main {
    background-color: #F0BB78;
}
.body {
    display: flex;
    justify-content: center;
    /* min-height: 53vh; */
}
.form-heading {
    display: flex;
    justify-content: center;
    font-family: "Bona Nova SC", serif;
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: bolder;
    color: #543A14;
    padding-top: 2rem;
}
.form {
    display: flex;
    flex-direction: column;
}
.form-row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
}
select {
    height: 2rem;
    border-radius: 0.2rem;
    width: 100%;
    border: none;
    font-family: "Bona Nova SC", serif;
    color: #543A14;
}
input {
    height: 2rem;
    border-radius: 0.2rem;
    width: 100%;
    border: none;
    font-family: "Bona Nova SC", serif;
    color: #543A14;
}
label {
    font-family: "Bona Nova SC", serif;
    color: #543A14;
    font-size: clamp(1rem, 2.5vw, 2rem);
}
.submitbutton{
    display: flex;
    justify-content: center;
}
button{
    margin: 1rem;
    width: 25%;
    height: 3rem;
    font-size: 1rem;
    background-color: #543A14;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #795A25;
}